<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                {{ content }}
				
				<div id="disqus_thread"></div>
<script>
(function() { 
    var d = document, s = d.createElement('script');
    s.src = '//lky88.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </article>
			
            {% include footer.html %}
        
		</section>
    </body>
</html>
